<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <title>OverheadCosts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainstyle.css}">
    <link rel="shortcut icon" th:href="@{/pics/plug-solid.svg}" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <nav>
            <ul>
                <li><a th:href="@{/}" ><i class="fas fa-gauge"></i> Dashboard</a></li>
                <li><a th:href="@{/info}" ><i class="fas fa-info-circle"></i> Daily consumptions</a></li>
                <li><a th:href="@{/yearlydata}" ><i class="fas fa-calendar-alt"></i> Yearly data</a></li>
                <li><a th:href="@{/addnewelecdata}" ><i class="fas fa-plug-circle-bolt"></i> Populate electric data</a></li>
                <li><a th:href="@{/addnewgas}" ><i class="fas fa-fire-burner"></i> Populate gas data</a></li>
                <li><a th:href="@{/rawdata}" ><i class="fas fa-table"></i> Raw data</a></li>
            </ul>
            <div class="info-section">
                <hr class="hr-text" data-content="Solar">
                <p class="overhead" th:text="${elecOverHead}"> overhead </p>
                <hr class="hr-text" data-content="Gas">
                <p class="overhead overhead-gas" th:text="${gasOverHead[1] - gasOverHead[0]}">gas overhead </p>
                <hr class="hr-text" data-content="Sold">
                <p class="overhead overhead-solar" th:text="${elecPercentage}"> Sold/produced </p>
            </div>
        </nav>
        <div class="content" layout:fragment="subcontent">
        </div>
    </div>
</body>

</html>
