* {
    box-sizing: border-box
}


.body-dash {
    font-weight: 300;
    background: linear-gradient(#030736, #090f69);
    background-size: cover;
    color: #84a6ca;
    margin: 0;
    min-height: 100vh;
}

.wrapper-dash {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 10px;
    height: 100%; /* A teljes magasságot kitölti */
}

.tables {

    max-width: 100%;
    border-color: blue;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    color: RoyalBlue;
    margin: 20px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}


.elec-table {
    margin: 15px;
    width: 550px;
}

.gas-table {
    margin: 15px;
    width: 300px;
}
